<div class="container">
  <form #ngForm="ngForm" (ngSubmit)="AddNewProduct()">
    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Name</label>
      <div class="col-8">
        <input type="text" class="form-control" name="name" id="name" placeholder="name" [(ngModel)]="prod.name">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Price</label>
      <div class="col-8">
        <input type="text" class="form-control" name="Price" id="Price" placeholder="price" [(ngModel)]="prod.Price">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Description</label>
      <div class="col-8">
        <input type="text" class="form-control" name="description" id="description" placeholder="description" [(ngModel)]="prod.description">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Rating</label>
      <div class="col-8">
        <input type="text" class="form-control" name="rating" id="rating" placeholder="rating" [(ngModel)]="prod.rating">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Category</label>
      <div class="col-8">
        <input type="text" class="form-control" name="category" id="category" placeholder="category" [(ngModel)]="prod.category">
      </div>
    </div>

    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>


<!------------------- table --------------------------------->

<div class="table-responsive-md">
  <table>
    <thead class="table-light">
      
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      
        <tr class="table-primary" *ngFor="let ele of data">
         
          <td scope="row">{{ele.name}}</td>
          <td>{{ele.Price}}</td>
          <td>{{ele.description}}</td>
          <td>{{ele.rating}}</td>
          <td>{{ele.category}}</td>
          <td>          
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId" (click)="GetCurrent(ele)">Edit</button>
            <button class="btn btn-danger" (click)="Delete(ele.id)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        
      </tfoot>
  </table>
</div>


<!-- -----------------------Update form ------------------------->

<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- using ngforms to take inputs  -->
      <form #ngForm="ngForm" (ngSubmit)="Update()">


        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Name</label>
          <div class="col-8">
            <input type="text" class="form-control" name="name" id="name" placeholder="name" [(ngModel)]="currentData.name">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Price</label>
          <div class="col-8">
            <input type="text" class="form-control" name="Price" id="Price" placeholder="price" [(ngModel)]="currentData.Price">
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Description</label>
          <div class="col-8">
            <input type="text" class="form-control" name="description" id="description" placeholder="description" [(ngModel)]="currentData.description">
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Rating</label>
          <div class="col-8">
            <input type="text" class="form-control" name="rating" id="rating" placeholder="rating" [(ngModel)]="currentData.rating">
          </div>
        </div>
    
        <div class="mb-3 row">
          <label for="inputName" class="col-4 col-form-label">Category</label>
          <div class="col-8">
            <input type="text" class="form-control" name="category" id="category" placeholder="category" [(ngModel)]="currentData.category">
          </div>
        </div>
        
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div> 




